---
layout: page
title: Office 365 Development
permalink: /services/development/
---

<h1 class="page-header custom-development__color">
    Office 365 Development
</h1>

<p>
    I can help you with:
    <ul>
        <li>
            Implementation of web parts using <b>SharePoint Framework (SPFx)</b> for SharePoint Online and Teams;
        </li>
        <li>
            Business processes automation with <b>Flow</b>;
        </li>
        <li>
            Creating <b>Office add-ins</b>;
        </li>
        <li>
            Custom development with <b>Office 365 and Azure</b>.
        </li>
    </ul>
</p>

{% include contact-details.html %}

<!-- <h3>
    <a href="#">CONTACT</a>
</h3>

<h3>Sample Solutions</h3>

{% include posts-list.html title="" posts=site.data.development-samples%}

<p>
    SharePoint      Teams       Office      PnP     Intranet        SPFx
</p>

<ul>
    <li>
        Glvrd Add-in for Microsoft Word #Office Add-in
    </li>
    <li>
        Favicon for modern SharePoint sites #SPFx #AppCustomizer
    </li>
    <li>
        Category browser web part #SPFx #webpart #SharePoint
    </li>
    <li>
        Generate PDF documents from SharePoint items #SharePoint #SPFx #AppCustomizer
    </li>
    <li>
        News schedulled reminder using Flow #Flow #SharePoint
    </li>
    <li>
        Library site for intranet using Flow #Flow #SharePoint
    </li>
    <li>
        Generate PDF documents using Flow #Flow #SharePoint
    </li>
    <li>
        Calendar web part
    </li>
</ul> -->

<!-- <img src="{{site.baseurl}}/assets/2019/custom-development.jpg" /> -->
