<article class="about-me-short">
        <p>
            My name is Dmitry Rogozhny. I am a software developer.
            <br>
            I can <a class="intanet-configuration-service-link" href="{{site.baseUrl}}/services/intranet-configuration/">configure your SharePoint intranet</a> or do <a class="custom-development-service-link" href="{{site.baseUrl}}/services/development/">custom Office 365 development</a>.
            <br>
            {% include contact-details.html %}
        </p>
</article>
