<div class="about-me-short">
    <p>
        Power Platform and Microsoft&#8239;365 Consultant&#8239;/&#8239;Developer.
        {% include contact-details.html %}
        <br>
        I am building solutions with Power Platform: Power Apps, Power Automate, Power Pages, and Dataverse. I am helping clients unlock the potential of their Microsoft&#8239;365 with SharePoint Framework (SPFx), Teams apps, Microsoft Graph, and Power Platform. I am building APIs and integrating external services with Azure, TypeScript, JavaScript, Node.js, Next.js, and React.
    </p>
</div>
