<article class="about-me">
    <p>
        Hi! My name is Dmitry Rogozhny.
    </p>
    <p>
        I am a software developer.
    </p>

    <p>
        I help companies to implement complex web and enterprise applications. I have experience in building intranets and extranets,
        content and document management solutions, portfolio and project management systems, BI and reporting tools.
    </p>

    <p>
        For over 10 years, I've had a pleasure of delivering projects for companies in oil&#8239;&&#8239;gas, banking, and telecom
        industries. I've been working as a developer, architect, and a consultant.
    </p>

    <p>
        I like learning new things and I like helping others to learn.
    </p>

    <p>
        I live in Minsk, Belarus <a href="https://www.google.com/maps/place/Minsk/@51.5581949,19.5820437,5.53z">🌍</a>.
        <br/>
        {% include contact-details.html %}
    </p>
</article>
