<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

{% include google-analytics.html %}

<link href="/css/main.css?v={{site.time | date: '%s'}}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cabin%7CPT+Serif" rel="stylesheet">

<link href="{{site.baseUrl}}/assets/favico.png" rel="icon" type="image/x-icon" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

{% include custom-scripts.html %}

{% if site.tags != "" %}
    {% include collect-tags.html %}
{% endif %}
