{% comment %}
    Shows links to a previous and next post.

    Parameters:
        - uses page.previous and page.next variables to render links.
{% endcomment %}
<div class="previous-next-post-links">
    <div>
        {% if page.previous != nil %}
            <a class="arrow arrow__left" href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title }}</a>
        {% endif %}
    </div>

    <div>
        {% if page.next != nil %}
            <a class="arrow arrow__right" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a>
        {% endif %}
    </div>
</div>
