{% comment %}
    Renders social networks sharing links.

    Parameters:
        - uses _data/social-buttons.yml file as a data source.
        - uses _includes/social-buttons folder as a souce for svg files to render.
{% endcomment %}
<div class="social-buttons">
    {% assign url_placeholder = "<url>" %}
    {% assign text_placeholder = "<title>" %}
    {% assign twitter_placeholder = "<twitter>" %}
    {% assign page_url = "https://dmitryrogozhny.com" | append: page.url | uri_escape %}

    {% for button in site.data.social-buttons %}

        {% assign button_url = button.url
                             | replace: text_placeholder, page.title
                             | replace: url_placeholder, page_url
                             | replace: twitter_placeholder, site.twitter_username
                             | uri_escape
        %}

        <a href="{{ button_url }}" target="_blank" class="social-button {{ button.title }} {% if button.noPopup != true %}js-social-buttons{% endif %}">
            <span>
                {% include social-buttons/{{ button.svg }} %}
                <span>{{ button.verb }}</span>
            </span>
        </a>
    {% endfor %}
</div>
