.post {
    aside, p, ul, li {
        max-width: 40rem;
    }

    img {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    // show the image with the original size on desktop, and 100% width on mobile
    @media screen and (min-width: $breakpoint-small) {
        .image-original-size {
            width: auto;
            height: auto;
        }
    }
}
