.post {
    p, ul, li {
        max-width: 40rem;
    }

    img {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .image-border {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .image-shadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}