.post {
    aside, p, ul, li {
        max-width: 40rem;
    }

    img {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .image--original-size-small {
        display: block;
    }

    .image--original-size-medium {
        display: block;
    }

    .image--size-small {
        max-width: 50%;
    }

    // show the image with the original size on desktop, and 100% width on mobile
    @media screen and (min-width: $breakpoint-small) {
        .image--original-size-small {
            width: auto;
            height: auto;
        }
    }

    // show the image with the original size on desktop, and 100% width on mobile and notepads
    @media screen and (min-width: $breakpoint-medium) {
        .image--original-size-medium {
            width: auto;
            height: auto;
        }
    }
}
