$menu-item-color: #005ea5;
$menu-item-color-hover: $link-color-hover;
$menu-item-color-focus: $link-color-focus;
$menu-item-color-active: #d33c00;

$menu-font-size: 1rem;
$menu-font-line-height: 2.5rem;

/*
    Menu
*/
.menu {
    position: relative;

    display: flex;
    flex-direction: row;
}

/*
    Logo
*/
.logo {
    $logo-size: 50px;
    $logo-color: $menu-item-color;
    $logo-color-active: $menu-item-color;

    display: flex;
    flex-direction: row;

    font-family: $display-font;
    font-size: $menu-font-size;
    line-height: $menu-font-line-height;
    color: $logo-color;

    letter-spacing: .2px;

    .logo__link {
        display: flex;
        flex-direction: row;

        text-decoration: none;

        // distance between home link and the rest of menu items
        padding-right: 1em;

        &:visited {
            color: $logo-color;
        }

        &:focus {
            background-color: inherit;
            outline: 2px solid $menu-item-color-focus;
        }
    }

    .logo__image {
        width: $logo-size;
        height: $logo-size;
        border-radius: 50%;

        // distance between the top of the screen and logo
        margin-top: 10px;

        background: url("../assets/logo.png") no-repeat center center;
        background-size: contain;
    }

    .logo__title {
        color: $logo-color;
        display: block;
        padding-left: .3em;

        font-weight: bold;

        &:hover {
            color: $menu-item-color-hover;
        }

        // wrap Title on small screens
        @media screen and (max-width: $breakpoint-medium) {
            line-height: 1.4;
            padding-top: .6rem;
            max-width: 10rem;
        }
    }

    .logo__title--active {
        color: $logo-color-active;

        &:hover {
            color: $logo-color-active;
        }
    }
}


/*
    Primary menu
*/
.menu__items {
    display: flex;
    flex-direction: row;

    padding: 0;
    margin: 0;

    list-style: none;
}

.menu__item {
    font-family: $display-font;
    font-size: $menu-font-size;
    line-height: $menu-font-line-height;
    color: $menu-item-color;
    letter-spacing: .2px;

    // padding for menu items
    padding: .6em .4em .4em .4em;

    text-decoration: none;

    &:visited {
        color: $menu-item-color;
    }

    &:hover {
        color: $menu-item-color-hover;
    }

    &:focus {
        background-color: $menu-item-color-focus;
        outline: 2px solid $menu-item-color-focus;
    }
}

/* add animation to make border-bottom appear with animation */
@include animation-border-bottom-appear($menu-item-color-active);

.menu__item--active {
    color: $menu-item-color-active;
    border-bottom: 1px solid $menu-item-color-active;

    animation-name: border-bottom-appear;
    animation-duration: .5s;

    &:visited {
        color: $menu-item-color-active;
    }

    &:hover {
        color: $menu-item-color-active;
    }
}

.menu__item--disabled {
    color: rgba($text-color, .4);

    &:hover {
        color: rgba($text-color, .4);
    }
}
