.posts-list {

    .posts-list__items {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
    }

    .posts-list__item {
        padding-bottom: 0;
    }

    .post-list__title {
        font-size: .85rem;
        line-height: 1.15rem;
        font-weight: 400;
    }

    .post-list__image {
        width: 100%;
        height: auto;

        @media screen and (min-width: $breakpoint-small) {
            width: 30%;
            height: auto;
        }
    }
}
