---
layout: default

comments: true
---

<article class="post">
    <h1 class="page-title">
        {{ page.title }}
    </h1>
    {{ content }}
    <br/>
    <br/>
    <div class="tertiary-info"
        <date>
            {{ page.date | date: "%B %d, %Y"}}
        </date> in 
        {% for tag in page.tags %}
            {{ tag }}
            {% if forloop.last == false %}
                ,
            {% endif %}
        {% endfor %}
    </div>
    <br/>
    {% include previous-next-post-links.html %}
    <br/>
    {% include disqus.html %}
</article>